/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALI */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* .clearfix::after{
    display: table;
    content: '';
    clear: both;
} */

/* HEADER */

.first-header{
    background-color: #ff6900;
    min-height: 50px;
    /* padding: 20px 0; */
    position: fixed;
    width: 100%;
}
.first-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.links-header a{
    text-decoration: none;
}

.links-header ul{
    list-style-type: none;
    display: flex;
    
}

.links-header a{
    color: white;
    padding: 20px 20px 20px 0;
}

.maxi-box{
    width: 10%;
    display: flex;
    align-items: center;
}
.mini-box{
    /* width: 25%; */
    
    display: flex;
    align-items: center;
}

.maxi-box img{
    width: 100%;
}

.icon-heater{
    justify-content: flex-end;
}

.icon-heater i{
    color: white;
    padding: 20px 0px 20px 20px;
}
/* MAIN */
main{
    padding-top: 100px;
    padding-bottom: 50px;
}
.card-alfa{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    max-height: 1100px;
}
.card-alfa img{
    height: 100%;
}
/* FOOTER */
.first-footer{
    min-height: 80px;
    background-color: #1a1a1a;
    padding: 20px 0;
}

.first-footer .container{
    display: flex;
    justify-content: space-between;
    color: white;
}

#footer-left h4{
    margin-bottom: 10px;
}
#footer-left a{
    text-decoration: none;
    padding: 20px 20px 20px 0;
    color: white;
}

#footer-left ul{
    list-style-type: none;
    display: flex;
    
}

.mini-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mini-social i{
    color: white;
    padding: 10px 0px 10px 10px;
}




/* +++++++++++++++++++++++  DEBUG   +++++++++++++++++++++++*/
.debug .border-red{
    border: 2px dashed red;
}

/* .debug .first-header .container{
    background-color: gray;
} */

/* .debug .maxi-box{
    background-color: forestgreen;
}

.debug .mini-box{
    background-color: darkgoldenrod
} */
.debug .card-alfa div{
    background-color: cadetblue
}



/* .debug #footer-left{
    background-color: #ff6900;
}

.debug #footer-right{
    background-color: green;
} */