/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALI */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-family: 'Poppins', sans-serif;
}
/* HEADER */

.first-header{
    background-color: #ff6900;
    min-height: 50px;
    /* padding: 20px 0; */
    position: fixed;
    width: 100%;
    z-index: 10;
}
.first-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.links-header a{
    text-decoration: none;
}

.links-header ul{
    list-style-type: none;
    display: flex;
    
}

.links-header a{
    color: white;
    padding: 20px 20px 20px 0;
}

.maxi-box{
    width: 10%;
    display: flex;
    align-items: center;
}
.mini-box{
    /* width: 25%; */
    
    display: flex;
    align-items: center;
}

.maxi-box img{
    width: 100%;
}

.icon-heater{
    justify-content: flex-end;
}

.icon-heater i{
    color: white;
    padding: 20px 0px 20px 20px;
}







/* MAIN */
main{
    padding: 150px 0;
}
.card-alfa{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px 20px;
}
.card-alfa img{
    width: 100%;
    cursor: pointer;
}



.card-box{
    position: relative;
}

.box-heart{
    height: 50px;
    width: 50px;
    background-color: white;
    position:absolute ;
    top: 1%;
    right:0%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.box-heart i{
    font-size: 1,5em;
}
.card-tag{
    position: absolute;
    bottom: 10%;
    left: 0;
    color: white;
}
.card-tag span{
    display: inline-block;
    padding: 3px 5px;
}
.tag-red{
    background-color: red;
    
}
.tag-red::after{
    content: '\0025';
}
.tag-green{
    background-color: green;
}

.card-text{
    position: absolute;
    top: 100%;
    left: 0;
}
.card-text div:first-child{
    text-transform: capitalize;
    font-size: 0.9em;
}
.card-text h3{
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}
.card-text div strong{
    color: red;
    font-weight: 600;
    font-size: 0.9em;
}
.card-text div strong::after{
    content: '\20AC';
}
.card-text div span{
    text-decoration: line-through;
    font-size: 0.9em;
}
.card-text div span::after{
    content: '\20AC';
}





/* HOVER  */


.card-alfa > .card-box:hover > img:first-child{
    display: none;
    transition-duration: 0.3;
}
.card-alfa .card-box .image-b{
    display: none;
}
.card-alfa > .card-box:hover >  .image-b{
    display: inline-block;
    transition-duration: 0.3;
}







/* FOOTER */
.first-footer{
    min-height: 80px;
    background-color: #1a1a1a;
    padding: 20px 0;
}

.first-footer .container{
    display: flex;
    justify-content: space-between;
    color: white;
}

#footer-left h4{
    margin-bottom: 10px;
    font-weight: 500;
}
#footer-left a{
    text-decoration: none;
    padding: 20px 20px 20px 0;
    color: white;
}

#footer-left ul{
    list-style-type: none;
    display: flex;
    
}

.mini-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mini-social i{
    color: white;
    padding: 10px 0px 10px 10px;
}




/* +++++++++++++++++++++++  DEBUG   +++++++++++++++++++++++*/
.debug .border-red{
    border: 2px dashed red;
}